@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bgCstm {
  background-image: url('/bg_img.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.headline {
  /* Land a python developer role in 6 months */

font-style: normal;
font-weight: 600;
display: flex;
align-items: center;
text-align: center;

background: linear-gradient(90deg, #FF2957 0%, rgba(132, 27, 50, 0.7) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;


}